
.top-bar {
    padding: 10px;
    background-color: #FF9874;
    text-align:left;
    font-size: 14px;
    border-radius: 10px;
    margin-inline: 20px;
}

.cart-button{
    
    background-color:#7398fe;
    color: black;
    padding: 10px;
    border: none;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    width: 35px;
    height:30px;
    position:absolute;
    top:4px;
    right:4px;
    display:inline-block;
    align-items:center;
    gap:10px;
 
    
    
    
}
.cart-button:hover {
    background-color: #9dbdff;
}
.cart img{
    object-fit:contain;
    vertical-align: middle;
    width:40px;

}
.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 40px;
background-color: #ffd7c4;

border-radius: 20px;
}
.logo{
    top:11vh; 
    left:5vw;
    position:absolute;
    width: 200px;
    display:flex;
    align-content:flex-start;
}
.nav-links{
    background-color: #ffd7c4;
}
.nav-buttons{
    display: inline-block;
    background-color:#f8986b;
    color: black;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}
.nav-buttons:hover {
    background-color: #9dbdff;
    color:white;
    
}
.nav-buttons.active {
    background-color: #7a9eff;
    color: white;
}

.login-button{
    text-decoration:none;
    color:#000;
    transition: all 0.3s ease;
    padding:10px 10px;
    border-radius: 20px;
    border:none;
    background-color: #f8986b;
    font-weight:bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor:pointer;
}
.login-button:hover{
    background-color: #9dbdff;
    color:white;
}

.homepage-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 96vw;
    height: auto;
    padding: 40px;
    background-color: #dae6ff;
    border-radius: 20px;
    margin: 40px auto;
    box-sizing: border-box;
    overflow:hidden;
    position: relative;
}


.main-left{
    flex: 1 1 500px;
    width: 50%;
    z-index: 2;
}
.main-left h1{
    font-size: 40px;
    color: #4a4a4a;
    margin-bottom: 15px;
}
.main-right{
    flex: 1 1 500px;
    min-width: 300px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}


.donut-top{
    position: absolute;
    width:35%;
    top: 3%;
    right: 18%;
    
    z-index: 3;
   
}
.donut-bottom{
    width: 22%;
    position: absolute;
    bottom:3%;
    left: 30%;;
    z-index:1;
    
}
.blue-shape{
    position: absolute;
    bottom: 0;
    right:0;
    width:30%;
    height: 100%;
    background-color: #9dbdff;
    border-top-left-radius: 90%;
    z-index: 0;
    

}

body {
    background-color: #ffd7c4;
    font-family: poppins, sans-serif;
  
}


       



.homepage-search-box input {
    padding: 10px 20px;
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #ccc;
    background-color: white;
    color: white;
    cursor: pointer;
    align-content: right;
}
.homepage-search-box button{
    padding: 10px 20px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: #9dbdff ;
    color:white;
    cursor: pointer;

}
.main{
    display: flex;
    width: 96vw;
    height: auto;
    padding: 20px;
    background-color: #dae6ff;
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow:hidden;
    position: relative;
    
}
.menu-search-box{
    display: flex;
    justify-content: flex-start; /* align items to the right */
    align-items: flex-start;
    width: 100%;
    padding: 20px;

}
.menu-search-box button{
    padding: 10px 20px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-color: #9dbdff ;
    color:white;
    cursor: pointer;
    margin-right: 30px;
}
.menu-search-box button:hover{
    background-color: #7398fe;
    color:white;
}
.menu-search-box input {
    padding: 10px 80px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    background-color: white;
    color: white;
    cursor: pointer;
    right:20px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* responsive grid layout */
    gap: 20px;
    width: 100%;
    position: relative;
   
}
.menu-item p:last-of-type{ /* style for food*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    

    
}
.menu-item p{
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    font-family:poppins, sans-serif;
}
.food-labels{
   
    width:40%;
    align-items:flex-end 0px;
    
  
}
.menu-image{
    width:80%;
}
.menu-buttons {
    text-decoration:none;
    color:#000;
    transition: all 0.3s ease;
    padding:10px 10px;
    border-radius: 20px;
    background-color: #ffd7c4;
}
.menu-buttons:hover{
    background-color: #9dbdff;
    color: white;
}
.menu-buttons.active{
    background-color: #7a9eff;
    color: white;
}
.quality-control {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:10px;
    bottom:200px;
    
}
.quality-control button{
    padding: -2px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: #FF9874 ;
    color:white;
    cursor: pointer;
}
.quality-control button:hover{
    background-color: #fc8053;
    color: white;
}
.quality-control span.quantity{
    min-width: 20px;
    text-align: center;
    font-weight: bold;
}
.total {
    font-weight: bold;
    font-size: 18px;
    text-align: left
}
.checkout-button {
    width:100%;
    padding:10px;
    background-color: #7398fe;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background 0.3s ease;
    font-weight:bold;
    font-size: 18px;
    margin-top: 20px;
}
.checkout-button:hover {
    background-color:#9dbdff;
    color:black;
}
.info-page{
    display: flex;
    flex-direction:column; /*children stacked vertically*/
    align-items: left;
    width: 96vw;
    height: auto;
    padding: 20px;
    background-color: #dae6ff;
    border-radius: 20px;
    margin: 20px auto;
    box-sizing: border-box;
    overflow:hidden;
    position: relative;
}
